// ---------------------
// Diablo-Like Font · DiabloHeavy Font
// ---------------------

// Damos de alta la fuente con el nombre "DiabloHeavy" y cargamos todos los formatos
@font-face
  font-family "RickAndMorty"
  src url("../fonts/rickandmorty.ttf")
  font-style normal
  font-weight normal

// Creamos una clase que tenga de tipografía la fuente de Diablo
.font-rickmorty
  font-family "RickAndMorty", sans-serif